<div id="<%= dom_id user %>">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user %>
    <%= link_to "Edit this user", edit_user_path(user) %>
    <hr class="mt-6">
  <% end %>
</div>
