<div id="<%= dom_id user %>">
  <div>
    <strong>Name:</strong>
    <p><%= user.name %></p>
  </div>

  <div>
    <strong>Email:</strong>
    <p><%= user.email %></p>
  </div>
  <br>
  <div>
    <%= link_to "Edit this user", edit_user_path(user), class: "link" %>
    <%= button_to "Delete user", user_path(user), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" %>
  </div>
</div>
