<div id="<%= dom_id client %>">
  <h3><%= client.name %></h1>
  <div>
    <ul>
      <li>Hours worked: <%= client.hours_worked %></li>
      <li>Amount billed: <%= client.amount_billed %></li>
      <% if client.rate %>
        <li>Rate per hour: <%= client.rate %></li>
      <% else %>
        <li>Rate per hour: n/a</li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= link_to "Edit this client", edit_client_path(client), class: "btn", style: "text-decoration: none;" %>
    <br>
    <%= link_to "See #{client.name}'s projects", client_projects_path(client), class: "btn", style: "text-decoration: none;" %>
  </div>
</div>