<div>
  <div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>
  </div>

<div>
  <h1><%= @user.name%>'s clients</h1>
  <p>If you want to see more information about your rates and clients, please visit <%= link_to "My Summary", my_summary_index_path, class: "hover" %></p>
</div>

<div>
  <%= link_to "Add Client", new_client_path, class: "btn", style: "text-decoration: none;" %>
<div>

<div>
  <% @clients.each do |client|%>
  <%= render "client", client: client%>
  <%= link_to "Edit this client", edit_client_path(client), class: "btn", style: "text-decoration: none;" %>
  <% end%>
<div>

</div>