<div id="<%= dom_id project %>">
  <h3><%= project.name %></h1>
  <div>
    <ul>
      <li>Hours worked: <%= project.hours_worked %></li>
      <li>Amount billed: <%= project.amount_billed %></li>
      <li>Rate per hour: <%= project.rate %></li>
      <% if !project.description.empty? %>
        <li>Description: <%= project.description %></li>
      <% end%>
    </ul>
  </div>
</div>