<div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <h1>Edit project</h1>

  <%= form_with(model: @project, class: "contents") do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label :name %>
  </div>
  <div>
  <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :hours_worked %>
  </div>
  <div>
  <%= form.text_field :hours_worked %>
  </div>

  <div>
  <%= form.label :amount_billed %>
  </div>
  <div>
  <%= form.text_field :amount_billed %>
  </div>

  <div>
  <%= form.label :description, "Description (optional)" %>
  </div>
  <div>
  <%= form.text_field :description %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn" %>
  </div>
<% end %>
</div>