<!DOCTYPE html>
<html>
  <head>
    <title>FhRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    
  <body>
    <div class="flex h-screen">
      <aside class="bg-indigo-800 text-white font-bold text-xl p-6 w-60 inset-y-0 left-0 fixed">
          <nav>
              <a href="/rate" class="block py-2">Rate Calculator</a>
              <a href="/my_summary" class="block py-2">My Summary</a>

              <% if session[:user_id] %>
                  <%= link_to "My account", "/users/#{session[:user_id]}", class: "block py-2" %>
                  <%= button_to 'Logout', logout_path, method: :delete, class: "block py-2" %>
              <% else %>
                  <a href="/register" class="block py-2">Register</a>
                  <a href="/login" class="block py-2">Login</a>
              <% end %>
          </nav>
      </aside>

      <div class="flex-grow p-6">
          <main> 
            <%= yield %>
          </main>
      </div>
  </div>

     
  </body>
</html>
